body{
    background-color: rgb(195, 165, 120);
}
.container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card-body{
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    text-align: center;

}


